<div>
  <span>MEMORY</span>
</div>

<%= form_tag root_path, method: :get do %>
  <%= select_tag :country, options_for_select(@all_countries), include_blank: 'all' %>
  <%= submit_tag 'Search' %>
<% end -%>


<div class="total-revenue-card">
  <span>Total revenue</span>
  <%= @total_revenue %>
</div>

<div class="average-revenue-card">
  <span>Average revenue per order</span>
  <%= @average_revenue %>
</div>

<div class="nb-of-customers-card">
  <span>number of unique customers</span>
  <%= @number_of_customers %>
</div>

<br>

<%= column_chart @sellings.group_by_month(:date, format: "%B").count %>

