<div class="navbar">
  <span id="nav-title">MEMORY</span>
</div>

<div class="country-form">
  <%= form_tag root_path, method: :get, class: 'dash-country-form' do %>
    <%= select_tag :country, options_for_select(@all_countries), include_blank: 'All Countries' %>
    <%#= submit_tag 'Search' %>
  <% end -%>
</div>

<h1 class="dashboard-title"><%= ( params[:country] && params[:country] != '' ) ? params[:country].upcase : 'ALL COUNTRIES' %></h1>

<div class="summary-view">
  <div class="info-card">
    <div class="card-title-container">
      <p class="card-title">REVENUE</p>
    </div>
    <hr>
    <div class="card-content-container">
      <p class="card-info"><%= number_to_currency(@total_revenue, unit: '', separator: ',', delimiter: ' ') %> €</p>
    </div>
  </div>

  <div class="info-card">
    <div class="card-title-container">
      <p class="card-title">AVERAGE REVENUE PER ORDER</p>
    </div>
    <hr>
    <div class="card-content-container">
      <p class="card-info"><%= number_to_currency(@average_revenue, unit: '', separator: ',', delimiter: ' ') %> €</p>
    </div>
  </div>

  <div class="info-card">
    <div class="card-title-container">
      <p class="card-title">CUSTOMERS</p>
    </div>
    <hr>
    <div class="card-content-container">
      <p class="card-info"><%= @number_of_customers %></p>
    </div>
  </div>
</div>

<div class="monthly-view">
  <%= column_chart @sellings.group_by_month(:date, format: "%B").count, xtitle: "Month", ytitle: "Sellings", colors: ["#069992"] %>
</div>
